:root {
    --nav-gradient: linear-gradient(#396e4e,#6cd8ff);
}

.offcanvas {
    background-image: var(--nav-gradient);
}

.navbar {
    background-image: var(--nav-gradient);
}



@media only screen and (max-width: 768px) {
    /* FOR MOBILES */
    .carousel{
        height: 25vh;
    }

    h2 {
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-size: 16px;
        text-align: center;
    }

    .card {
        margin-top: 7vh;
        max-height: 10vh;
    }

    .card-title {
        font-size: 18px;
    }

}

@media only screen and (min-width: 768px) {
    /* FOR DESKTOP */
    .carousel{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30vw;
        height: 25vh;
    }
    
    h2 {
        text-align: center;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    #about-circle.img-fluid.rounded-circle {
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }

    .card {
        margin-top: 22vh;
        max-height: 50vh;
    }

}