{% extends 'index.html' %}
{{ super() }}
{% block content %}

<!-- Author Area -->
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ url_for('static',filename='imgs/girl-audio.jpg',_external=True)}}" class="img-fluid rounded-circle" id ="about-circle" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">The Author</h5>
          <p class="card-text">Ricardo Ponte is a Junior Full Stack Developer at GlobalEda at the time of writing. </p>
        </div>
      </div>
    </div>
</div> 
<!-- Orientator Area -->
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ url_for('static',filename='imgs/girl-audio.jpg',_external=True)}}" class="img-fluid rounded-circle" id ="about-circle" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">The Orientator</h5>
          <p class="card-text">Bruno Miguel Fernandes Dias is an Assistant Teacher at University of Minho. With over X years of experience he specializes in XYZ and has done many contributions to the field including BLELEBJAROUS</p>
        </div>
      </div>
    </div>
</div>


{% endblock %}