{% from 'bootstrap5/utils.html' import render_icon %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}

          {% block metas %}
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          {% endblock %}

          {% block styles %} {{ bootstrap.load_css() }} <!-- Bootstrap CSS --> {% endblock %}

          {% block title %} <title> SAET - Subjective Audio Evaluation Tool</title> {% endblock %}

        {% endblock %}
    </head>
    <body>
        
      {% block navbar %}
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">          
              <!-- <a class="navbar-brand" href="#">Navbar</a> -->
              {{ render_icon('music-note')}}
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#">About</a>
                  </li>
                </ul>
                </div>
            </div>
          </nav>

        {% endblock %}

        {% block scripts %} {{ bootstrap.load_js() }} <!-- Optional JavaScript --> {% endblock %}

    </body>
</html>

<!-- Photo by <a href="https://unsplash.com/@kellysikkema?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kelly Sikkema</a> on <a href="https://unsplash.com/s/photos/audio?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   On Unsplash-->

   